*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 50px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cal-container{
    width: 600px;
    height: 360px;
    background-color: #6b6a6a;
    border-radius: 25px;
   margin: 1rem;
   padding: 10px;
   /* padding-right: 2rem; */

}
.inputfield{
   
   height: 50px;
    background-color: rgb(138, 126, 126);
    margin: 5px 10px;
    border: 1px solid rgb(43, 42, 42);
       border-radius: 5px;


}
.inputDisplay{
    font-size: 30px;
    padding: 5px 5px ;
    text-align: right;

}
.buttons{
    padding: 20px 10px;
    border-radius: 5px;
}
.buttons:hover{
    background-color: rgb(101, 101, 127);
    color: aliceblue;
}

.grid-btn{
    margin: 10px;
display: grid;
    grid-template-areas: 
    "c di m mi"
    "one two three plus"
    "four five six ze"
    "seven eight nine eq"
    ;
    gap: 10px;

}
.clear{
    grid-area: c;
}
.divide{
   grid-area: di;
}
.multi{
    grid-area: m;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}
.eight{
    grid-area: eight;
}
.nine{
    grid-area: nine;
}
.zero{
    grid-area: ze;
}
.minus{
    grid-area: mi;
}
.plus{
    grid-area: plus;
}
.equal{
    grid-area: eq;
}